::selection {background: transparent;}


h1,h2 {
	font-family: "Arial", sans-serif;
	margin-top: 18px;
	margin-bottom: 0px;
	clear: both;
}
h1 {
	font-size: 16pt;
	text-align: center;
	line-height: 1.1em;
	padding-bottom: 10px;
}
h3 {
    font-size: 14pt;
    text-align: center;
    line-height: 3px;
    padding-bottom: 10px;
}

#feature{
	font-size:27px;
	color:black;
	margin-left:80px;
	text-align: center;
}

#board {
    width: 360px;
    height: 360px;
    background-color: palevioletred;
    border: 10px solid black;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 120px;
    height: 120px;
    -webkit-transition: 0.15s left, 0.15s top;
    transition: 0.15s left, 0.15s top;

}

body {
	font-family: "Times New Roman", serif;
	font-size: 12pt;
	background-color: white;
	color: black;
}


#option{text-align: center;}
#option button{
	cursor: pointer;
	outline: none;	
	padding: 10px 20px;
	margin: 25px 2px;
	border: 0;
	border-radius: 4px;
	background: #D3D3D3;
	font: bold 14px Arial;
	text-align: center;
	color: #000000;
}


